
<div class= "row">
	<div class= "span9">
		<div class="center hero-unit">
				<img src="/assets/Doughsnail.jpg" class="image-responsive">
		</div>
		<div class= "announcements">
				<h2>Coming Soon!</h2><h1>Book a party with our new mobile pizza oven!</h1>
		</div>
	</div>
	<div class= "span3 right-column">
		<div class="image-unit">
			<img src="/assets/PiLogo.jpg" class="image-responsive">
	    </div>	
	    <div class="marketing-unit">
			<h1>#elementalpizza</h1><h2>Take a fun picture when visiting us and give it the hashtag above.
			<br>Using an awesome new app (that we helped develop) called SplashTag we can see your creativity and reward you for . </br><br>It’s one of the ways we like to say “thanks” for being such a great supporter of what we do!</br></h2><h2><b>Learn More</b></h2>
			<br></br>
				<br></br>
					<br></br>
	    </div>	
	 </div>

 	<div class = 'span9'>
 		<%= render :partial =>"microposts/microposts" %>
 	</div>
